/* RESET*/
*{
    box-sizing: border-box ;
    padding: 0;
    margin: 0;
}

.flex {
display: flex;
flex-wrap: wrap;
}

.space-between {
justify-content: space-between;
}
.space-around {
justify-content: space-around;
}
.space-evenly {
justify-content: space-evenly;
}
.justify-center {
justify-content: center;
}
.flex-end {
justify-content: flex-end;
}

.flex-start {
justify-content: flex-start;
}
/* aligment verticale */
.align-center {
align-items: center;
}
.align-end {
align-items: flex-end;
}
.gap-12 {
gap:12px;
}

/*
.andada-pro {
  font-family: "Andada Pro", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}*/

.bg-red {
    background-color: red;
}

.bg-blue {
    background-color: rgb(0, 21, 255);
}
.bg-green {
    background-color: green;
}

.txt-decoration {
    text-decoration: none;
}

.txt-white {
    color: white;
}


.w-10{
    width: 10%;
}

.w-22{
    width: 22%;
}


.w-33{
    width: 33%;
}

.pointenmoins {
    list-style: none;
}
.section-hero {
  background-image: url(asset/banniere3.png);
  height: 100vh;
  background-position: center ;
}

.position-1 {
    position:absolute;
}

.position-fixed {
    position: fixed;
}

.positon-relative {
    position:relative;
}

.position-sticky {
    position: sticky;
}

.position-static {
    position: static;
}

.container-800 {
}

.line {
    height: 2px;
    background-color: #FBD784;
}

.couleurbeige {
    color: #FBD784;
}

.txt-decoration {
    text-decoration: none;
}
 
.absolute {
    position: fixed;
}

.bg-yellow {
    background-color: yellow;
}

header {
    width: 100%;
}

.margin-left {
    margin-left: 45px;
}

.margin-left2 {
    margin-left: 15px;
}

.police {
}

